.loader-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    padding: 3rem;
    min-height: 100vh;
}

.loader-1 {
    padding: 20px;
    width: 1000px;
    height: 300px;
}

.loader-1 {
    background-color: #fff;
    border: 5px solid black;
    border-top: 5px solid blue;
    border-radius: 50%;
    max-width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3498db;
    position: relative;
    animation: pulse 1.4s infinite ease-in-out;
}

.loader-2::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3498db;
    left: -25px;
    animation: pulse 1.4s infinite ease-in-out;
    animation-delay: -0.32s;
}

.loader-2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3498db;
    left: 25px;
    animation: pulse 1.4s infinite ease-in-out;
    animation-delay: -0.16s;
}

@keyframes pulse {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}


.loader-3 {
    width: 100px;
    height: 10px;
    background: #e0e0e0;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.loader-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #3498db;
    border-radius: 40px;
    animation: slideBar 1.5s infinite ease-in-out;
}

@keyframes slideBar {
    0% {
        left: -50%;
    }

    100% {
        left: 100%;
    }
}